/* .category{
    background-color: black
    }
    #nav{
    list-style-type: none;
    
    width: 100%;
    
    text-align:center;
       display: inline-block;
    }
    #searchBar{
    height:47px;
    
    }
    #nav > li{
      float:left;
      padding: 14px 16px;
       background-color: #333;
    }
    #navCenter{
      width:50%;
      height:47px;
      float:left;
      background-color:#333;
      color:white
    }
    
    #navCenterText{
    text-align:center;
    margin-left:3em;
     font-family:'Raleway', sans-serif;
    }
    
    .search{
    margin:0;
    position:absolute;
    top:50%;
    }
    .right{
    float:right
    }
    .navText{
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family:'Raleway', sans-serif;
    }
    
    .navLi:a{
    
      
    }
    
    .navText:hover{
    background-color:chartreuse;
    color:black;
    
    } */
    .index-img {
      max-width: 200px;
      max-height: 200px;
    }
    
    .list-item{
      float: left; 
      clear: left;
    }
    
    .pet-container {
      display: flex;
      flex-flow: row wrap;
      align-content: space-around;
      justify-content: center;
      text-align: center;
      /* max-width: 90%; */
      margin: 0px auto;
      /* padding: 15px; */
      max-width: 960px;
      padding: 2.25%; 
      width: 85%;
      border-radius: 25px;
      background-color: rgba(255, 255, 255, 0.7);
    }
    
    .pet-div {
      max-width: 200px;
      border-radius: 25px;
      padding: 20px;
      margin: 10px;
      /* background-color: lightgrey; */
      background-color: rgba(41, 32, 155, 0.4);
      display: inline-block;
     *display: inline;
      zoom: 1
    }
    /* </style>     */
    